<% include ./head %>
<!--以上套用ejs头部模版-->
	<title>BaiduNews 后台管理系统首页</title>
	<link rel="stylesheet" type="text/css" href="/css/admin/index.css" />
	</head>

	<body>
		<!--头部导航栏-->
		<header>
			<nav class="topnav navbar navbar-inverse">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<i class="icon-leaf white"></i>
						<span class="white">Baidu News 新闻后台管理系统</span>
					</a>
					<button class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
						<i class="icon-reorder white"></i>
					</button>
				</div>
				<!--<div class="collapse navbar-collapse" id="nav-collapse">-->
					<!--<ul class="nav navbar-nav pull-right">-->
						<!--<li id="user-login" class="dropdown">-->
							<!--<a class="dropdown-toggle btn btn-info user-login" href="#" data-toggle="dropdown">-->
								<!--<img class="img-circle" src="/image/admin/user.jpg" />-->
								<!--<span class="white">Welcome,<%=name%></span>-->
								<!--<i class="icon-caret-down white"></i>-->
							<!--</a>-->
							<!--<ul class="dropdown-menu">-->
								<!--<li><a href="#"><i class="icon-cog"></i>Setting</a></li>-->
								<!--<li><a href="#"><i class="icon-user"></i>Profile</a></li>-->
								<!--<li class="divider"></li>-->
								<!--<li><a href="/admin/logout"><i class="icon-off"></i>LogOut</a></li>-->
							<!--</ul>-->
						<!--</li>-->

						<!--<li>-->
							<!--<a class="btn btn-primary" href="#">-->
								<!--<i class="icon-tasks white"></i>-->
								<!--<span class="badge">4</span>-->
							<!--</a>-->
						<!--</li>-->
						<!--<li>-->
							<!--<a class="btn btn-danger" href="#">-->
								<!--<i class="icon-bell-alt white"></i>-->
								<!--<span class="badge badge-important">8</span>-->
							<!--</a>-->
						<!--</li>-->
						<!--<li>-->
							<!--<a class="btn btn-success" href="#">-->
								<!--<i class="icon-envelope white"></i>-->
								<!--<span class="badge badge-success">5</span>-->
							<!--</a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			</nav>
		</header>
		<!--主体部分-->
		<article>
			<!--侧边栏开始-->
			<div class="aside col-md-2 col-sm-4">
				<!--<div class="shorcuts text-center">-->
					<!--<a class="btn btn-success btn-sm" href="#addnews" data-toggle='modal' title="添加"><i class="icon-plus"></i></a>-->
					<!--<a class="btn btn-danger btn-sm" href="/admin/logout"><i class="icon-off" title="登出"></i></a>-->
				<!--</div>-->
				<div class="aside-menu list-group">
					<a class="list-group-item active disabled" href="#">
						<i class="icon-dashboard"></i>&nbsp;
						<span>主页</span>
					</a>
					<a class="list-group-item" href="#addnews" data-toggle='modal'>
						<i class="icon-list"></i>&nbsp;
						<span>添加新闻</span>
						<i class="icon-chevron-right pull-right"></i>
					</a>
					<!--ejs 引入add模版  添加记录模态窗口-->
					<% include ./add %>
				</div>
			</div>
			<!--右边内容区-->
			<div class="page-content col-md-10  col-sm-8">

				<div class="row">
					<ol class="breadcrumb top-menu">
						<li>
							<i class="icon-home black icon-2x"></i>&nbsp;
							<a href="/admin">首页</a>
						</li>
						<li class="active">控制台</li>
					</ol>
				</div>

				<ol class="breadcrumb list-menu">
					<li>
						<h3 class="blue">控制台</h3></li>
					<li class="active">查看</li>
				</ol>

				<div class="alert alert-success alert-dismissible">
					<i class="icon-ok"></i>
					<span>欢迎使用
						<strong>Baidu News后台管理系统(v1.2),</strong>
					</span>
					<button class="close" data-dismiss="alert">&times;</button>
				</div>

				<!--数据小计区开始-->
				<!--<div class="sum-area clearfix">-->
					<!--<div class="panel panel-success col-sm-4 col-xs-6">-->
						<!--<div class="panel-heading text-center">-->
							<!--<i class="icon-circle-blank"></i>-->
							<!--<span>新闻总数</span>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<button class="btn btn-default btn-block">-->
								<!--<div class="active progress-bar progress-bar-success progress-bar-striped" style="width: 100%;">-->
									<!--<span><%=listAll.length %>条</span>-->
								<!--</div>-->
							<!--</button>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="panel panel-info col-sm-4 col-xs-6">-->
						<!--<div class="panel-heading text-center">-->
							<!--<i class="icon-signal"></i>-->
							<!--<span>最新消息标题</span>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<button class="btn btn-primary center-block">-->
								<!--<%=listAll[0].news_title %>-->
							<!--</button>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="panel panel-default col-sm-4 col-xs-6">-->
						<!--<div class="panel-heading text-center">-->
							<!--<i class="icon-download-alt"></i>-->
							<!--<span>最近添加记录时间</span>-->
						<!--</div>-->
						<!--<div class="panel-body">-->
							<!--<button class="btn center-block">-->
								<!--<%=listAll[0].news_timeNow() %>-->
							<!--</button>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--数据小计区结束-->

				<!--表格区域开始-->
				<div class="table-area col-xs-12">
					<h4>
						<i class="icon-star orange"></i>
						<span class="blue">新闻列表</span>
						<button class="btn btn-sm pull-right" data-toggle="collapse" data-target="#table1">
							<i class="icon-angle-down"></i>
						</button>
				    </h4>

					<div class="collapse" id="table1">
						<table class="table table-hover table-striped table-condensed table-responsive">
							<tr>
								<th><i class="icon icon-edit"></i> 操作</th>
								<th><i class="icon-caret-right blue"></i> 标题</th>
								<th><i class="icon-caret-right blue"></i> 内容</th>
								<th><i class="icon-caret-right blue"></i> 标签</th>
								<th><i class="icon-caret-right blue"></i> 新闻类别</th>
								<th><i class="icon-caret-right blue"></i> 时间</th>
								<th><i class="icon-caret-right blue"></i> 图片</th>
							</tr>
							
							
							<!--ejs 语法  使用%分割 循环开始-->
							<% for(var i=0; i<listAll.length; i++) {%>

								<tr>
									<td>
										<a class="del-link" data-id='<%=listAll[i].id %>' href="javascript:void(0)" style="color: red;">删除</a>
										<br />
										<a class="edit-link" class="text-info" data-id='<%=listAll[i].id %>' href="javascript:void(0)" data-toggle='modal'>编辑</a>
									</td>
									<td class="td-title">
										<div data-toggle='tooltip' data-placement='bottom' title='<%=listAll[i].news_title %>'><%=listAll[i].news_title %></div>
									</td>
									<td class="td-content">
										<div data-toggle='tooltip' data-placement='bottom' title='<%=listAll[i].news_content %>'><%=listAll[i].news_content %></div>
									</td>
									<td>
										<%=listAll[i].news_label.news_label_name %>
									</td>
									<td>
										<%=listAll[i].news_type.news_type_name %>
									</td>
									<td>
										<%=listAll[i].news_timeNow() %>
									</td>
									<td><img class="news-img" src="/image/front/newslist/<%=listAll[i].news_img %>" /></td>
								</tr>
								<% } %>
						</table>
					</div>
				</div>
				<!--表格区域结束-->

				<!--引入编辑modal模版-->
				<% include ./edit %>
					<!--编辑modal结束-->
			</div>
			<!--右边内容区结束-->
		</article>
		<!--固定返回顶部按钮与添加按钮-->
		<a id="up-top-btn" class="btn btn-warning" href="#">
			<i class="icon-4x icon-double-angle-up"></i>
		</a>
		<a id="bottom-plus-btn" class="btn btn-success" href="#addnews" data-toggle='modal'>
			<i class="icon-3x icon-plus"></i>
			<p>添加</p>
		</a>
		<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/commonFn.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/admin/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

	</html>